/*------导航栏-------------------------------------------------*/
.navBg {
    margin: 0 auto;
    height: 50px;
    width: 1140px;
    background: #ba1c1c
}
.navBg_ {
    font: normal 14px "微软雅黑";
    height: 50px;
    width: 100%;
    background: #ba1c1c
}
.navBg_ a{
    text-decoration: none;
}
.navSize {
    height: 50px;
}

.fast {
    width: 290px;
    height: 50px;
}

.fast>span {
    color: #ffffff;
    font-size: 20px;
    margin-left: 90px;
}

.fast>img {
    position: relative;
    top: 9px;
}

.nav1 {
    width: 700px;
    overflow: hidden
}

.nav_ {
    font-size: 16px;
    width: 1140px;
    height: 50px;
    line-height: 50px;
    position: relative;
    z-index: 1;
}

.navMain {
    height: 50px;
    position: relative;
}

#nav_all {
    height: 50px;
    /* float: left; */
    line-height: 50px;
    position: relative;
    z-index: 222;
    display:flex;
    justify-content:space-between;
}

#nav_all li {
    text-align: center;
    float: left;
}

#nav_all li a {
    color: #ffffff;
    background: #ba1c1c;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 0 20px;
    width: 80px;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}
#nav_all li a:hover{
    background-color: #850000;
}

/*#nav_all li a:hover { background: #b70000; height: 50px; line-height: 50px;  overflow: hidden; border-bottom: 1px solid #c70000; border-top: 1px solid #ffffff; }*/
#nav_all li a.hover {
    background: #b70000;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #a50404;
    border-top: 1px solid #ffffff;
}

#nav_all li ul {
    display: none;
    position: absolute;
    z-index: 999;
    /* width: 1140px; */
    /* left: -30px; */
    /* top: 51px; */
}

#nav_all_child{
    text-align: center;
}
#nav_all_child li{
    clear:both;
}

#nav_all ul li {
    background-image: none;
    line-height: 40px;
    height: 40px;
}

#nav_all ul li a {
    padding: 0px 20px;
    margin: 0px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #850000;
}

#nav_all ul li a:hover {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background: #850000;
    border-bottom: 1px solid #c70000;
    border-top: 1px solid #ffffff;
}