@charset "utf-8";
/* CSS Document */
* {
	font-size: 14px;
	font-family: "微软雅黑";
	color: #444847;
}

img {
	display: block;
}

body {
	margin: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

input {
	outline: none;
}

.clearfix {
	clear: both;
}
/*页眉*/
.header {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.header span {
	float: left;
	font-family: "宋体";
	font-size: 12px;
	color: #444847;
}

.header ul {
	float: right;
}

.header li {
	float: left;
	font-family: "宋体";
	font-size: 12px;
	color: #444847;
}

.header .login {
	border-right: solid 1px #444847;
	padding-right: 17px;
}

.header .register {
	padding-left: 17px;
}
/*logo*/
.logo_box {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
}

.logo_box .logo {
	float: left;
}

.logo_box .search_box {
	float: right;
	margin-top: 53px;
}

.search_box  li .search_icon, input {
	float: left;
}

.search_box  li input {
	width: 429px;
	height: 42px;
	border-left: solid 1px #444847;
	border-top: solid 1px #444847;
	border-bottom: solid 1px #444847;
}

.search_box li .search_icon {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 8px;
	padding-bottom: 7px;
	border: solid 1px #444847;
}

.search_box .hot_search {
	font-size: 14px;
	color: #444847;
	margin-top: 7px;
}
/*导航*/
.nav_box {
	background-color: #016938;
	height: 70px;
	margin-top: 16px;
}

.nav {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	border: 1px solid transparent;
}

.nav li {
	float: left;
	line-height: 55px;
	margin-left: 22px;
	margin-right: 22px;
}

.nav li a {
	color: #fdfdfd;
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav .current {
	border-bottom: solid 2px #a29465;
}

.nav li:hover {
	border-bottom: solid 2px #a29465;
}
/*banner*/
.banner_box {
	width: 1200px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	position: relative;
}

.banner_img {
	width: 3600px;
	height: 450px;
}

.banner_img img {
	float: left;
}

.ctrl {
	position: absolute;
	left: 50%;
	margin-left: -54px;
	width: 108px;
	bottom: 0;
	margin-bottom: 20px;
}

.ctrl li {
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 8px;
	margin-right: 8px;
}

.ctrl .current {
	background-color: #df8127;
}

.ctrl li:hover {
	background-color: #df8127;
}
/*页脚*/
.footer_bigbox {
	background: #ebf1ef;
	border: solid 1px transparent;
}

.footer_centerbox {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 45px;
}

.footer_centerbox ul {
	color: #000;
	float: left;
	margin-right: 70px;
}

.footer_centerbox li {
	font-family: "宋体";
	font-size: 12px;
	margin-top: 7px;
	margin-bottom: 7px;
	color: #6e6e6c;
}

.footer_centerbox_contact_us {
	float: right;
	border-left: 1px solid #d2d2d0;
	padding-left: 52px;
}

.footer_centerbox_contact_us p {
	font-family: "宋体";
	font-size: 12px;
	color: #6e6e6c;
	line-height: 26px;
}
/*版权*/
.copyright {
	background-color: #000;
	text-align: center;
	color: #fff;
	line-height: 40px;
}