.cashier-bank .icon, .cashier-bank-kt .icon, .cashier-credit .icon,
	.cashier-credit-kt .icon, .cashier-bank-fq .icon, .cashier-bank-qy .icon,
	.cashier-bank-um .icon, .cashier-bank-kj .icon, .cashier-bank-kj-NO .icon
	{
	background-image:
		url("https://i.alipayobjects.com/e/201309/1A8iviqohR.png")
}

.ABC, .ABCSH {
	text-indent: -9999px;
	background-position: 0 -480px
}

.BOD {
	text-indent: -9999px;
	background-position: 0 -3532px
}

.CRCBANK {
	text-indent: -9999px;
	background-position: 0 -3730px
}

.JLBANK {
	text-indent: -9999px;
	background-position: 0 -3803px
}

.NXBANK {
	text-indent: -9999px;
	background-position: 0 -3573px
}

.TRCB {
	text-indent: -9999px;
	background-position: 0 -3490px
}

.CCB, .CCBEPAY {
	text-indent: -9999px;
	background-position: 0 -320px
}

.CEB {
	text-indent: -9999px;
	background-position: 0 -440px
}

.COMM {
	text-indent: -9999px;
	background-position: 0 -600px
}

.GDB {
	text-indent: -9999px;
	background-position: 0 -280px
}

.CITIC {
	text-indent: -9999px;
	background-position: 0 -200px
}

.SDB {
	text-indent: -9999px;
	background-position: 0 -240px
}

.SPDB {
	text-indent: -9999px;
	background-position: 0 -360px
}

.ICBC {
	text-indent: -9999px;
	background-position: 0 -40px
}

.CMB {
	text-indent: -9999px;
	background-position: 0 -80px
}

.CIB {
	text-indent: -9999px;
	background-position: 0 -3365px
}

.PSBC {
	text-indent: -9999px;
	background-position: 0 -400px
}

.abc1001, .abc1003 {
	text-indent: -9999px;
	background-position: 0 -720px
}

.abc1002, .abc1004 {
	text-indent: -9999px;
	background-position: 0 -3079px
}

.BOC, .BOCSH, .BOCCCL {
	text-indent: -9999px;
	background-position: 0 -520px
}

.BJRCB {
	text-indent: -9999px;
	background-position: 0 -2640px
}

.HZCB {
	text-indent: -9999px;
	background-position: 0 -760px
}

.EGBANK {
	text-indent: -9999px;
	background-position: 0 -1280px
}

.CZBANK {
	text-indent: -9999px;
	background-position: 0 -1040px
}

.BOHAIB {
	text-indent: -9999px;
	background-position: 0 -560px
}

.SPABANK {
	text-indent: -9999px;
	background-position: 0 -1880px
}

.SHBANK {
	text-indent: -9999px;
	background-position: 0 -840px
}

.NBBANK {
	text-indent: -9999px;
	background-position: 0 -1240px
}

.NJCB {
	text-indent: -9999px;
	background-position: 0 -920px
}

.HKB {
	text-indent: -9999px;
	background-position: 0 -2200px
}

.SHRCB {
	text-indent: -9999px;
	background-position: 0 -2480px
}

.CQBANK {
	text-indent: -9999px;
	background-position: 0 -1120px
}

.WZCB {
	text-indent: -9999px;
	background-position: 0 -1720px
}

.CSCB {
	text-indent: -9999px;
	background-position: 0 -1080px
}

.QDCCB {
	text-indent: -9999px;
	background-position: 0 -960px
}

.TZCB {
	text-indent: -9999px;
	background-position: 0 -1840px
}

.JXBANK {
	text-indent: -9999px;
	background-position: 0 -1560px
}

.CSRCB {
	text-indent: -9999px;
	background-position: 0 -1160px
}

.YCCB {
	text-indent: -9999px;
	background-position: 0 -1680px
}

.NHB {
	text-indent: -9999px;
	background-position: 0 -2000px
}

.CZRCB {
	text-indent: -9999px;
	background-position: 0 -2040px
}

.GYCB {
	text-indent: -9999px;
	background-position: 0 -1360px
}

.SXCB {
	text-indent: -9999px;
	background-position: 0 -2240px
}

.H3CB {
	text-indent: -9999px;
	background-position: 0 -2280px
}

.WJRCB {
	text-indent: -9999px;
	background-position: 0 -1760px
}

.ZYCBANK {
	text-indent: -9999px;
	background-position: 0 -1640px
}

.SDEB {
	text-indent: -9999px;
	background-position: 0 -2320px
}

.FDB {
	text-indent: -9999px;
	background-position: 0 -1320px
}

.URMQCCB {
	text-indent: -9999px;
	background-position: 0 -1800px
}

.HZCCB {
	text-indent: -9999px;
	background-position: 0 -3040px
}

.DAQINGB {
	text-indent: -9999px;
	background-position: 0 -2400px
}

.HKBEA {
	text-indent: -9999px;
	background-position: 0 -160px
}

.HXBANK {
	text-indent: -9999px;
	background-position: 0 -680px
}

.ZBCB {
	text-indent: -9999px;
	background-position: 0 -2360px
}

.DRCBCL {
	text-indent: -9999px;
	background-position: 0 -2440px
}

.CDCB {
	text-indent: -9999px;
	background-position: 0 -1000px
}

.ZJNX {
	text-indent: -9999px;
	background-position: 0 -2760px
}

.GCB {
	text-indent: -9999px;
	background-position: 0 -2720px
}

.LANGFB {
	text-indent: -9999px;
	background-position: 0 -2960px
}

.GDRCC {
	text-indent: -9999px;
	background-position: 0 -2800px
}

.JSRCU {
	text-indent: -9999px;
	background-position: 0 -2920px
}

.LYCB {
	text-indent: -9999px;
	background-position: 0 -2880px
}

.CMBC {
	text-indent: -9999px;
	background-position: 0 -120px
}

.HSBANK {
	text-indent: -9999px;
	background-position: 0 -880px
}

.DLB {
	text-indent: -9999px;
	background-position: 0 -2120px
}

.NCB {
	text-indent: -9999px;
	background-position: 0 -2080px
}

.BOSZ {
	text-indent: -9999px;
	background-position: 0 -3120px
}

.JZBANK {
	text-indent: -9999px;
	background-position: 0 -3160px
}

.CZCB {
	text-indent: -9999px;
	background-position: 0 -3000px
}

.FJHXBC {
	text-indent: -9999px;
	background-position: 0 -2160px
}

.JSBANK {
	text-indent: -9999px;
	background-position: 0 -1520px
}

.ZJTLCB {
	text-indent: -9999px;
	background-position: 0 -1600px
}

.MTBANK {
	text-indent: -9999px;
	background-position: 0 -2680px
}

.JINCHB {
	text-indent: -9999px;
	background-position: 0 -1480px
}

.DYCB {
	text-indent: -9999px;
	background-position: 0 -3200px
}

.GLBANK {
	text-indent: -9999px;
	background-position: 0 -2840px
}

.BJBANK {
	background-position: 0 -3240px;
	text-indent: -9999px
}

.CDRCB {
	text-indent: -9999px;
	background-position: 0 -3280px
}

.LSBANK {
	text-indent: -9999px;
	background-position: 0 -3448px
}

.UMPAY {
	text-indent: -9999px;
	background-position: 0 -3319px;
	height: 38px !important
}

.RCB {
	text-indent: -9999px;
	background-position: 0 -3405px
}

.DYCCB {
	background-position: 0 -3842px;
	text-indent: -9999px
}

.TCCB {
	background-position: 0 -3877px;
	text-indent: -9999px
}

.ASCB {
	text-indent: -9999px;
	background-position: 0 -3766px
}

.KuaiIcon {
	background:
		url("https://i.alipayobjects.com/combo.png?d=cashier&t=KuaiIcon")
		no-repeat scroll 0 0 transparent;
	text-indent: -9999px
}

.JJBANK {
	background-position: 0 -4168px;
	text-indent: -9999px
}

.KORLABANK {
	background-position: 0 -4200px;
	text-indent: -9999px
}

.JZCB {
	background-position: 0 -4230px;
	text-indent: -9999px
}

.cashier-consumer li {
	width: 190px
}

.cashier-consumer .icon-box {
	width: 160px
}

.cashier-consumer .icon {
	background-image:
		url(https://i.alipayobjects.com/e/201310/1L9XB9fNV7.png);
	height: 37px
}

.cashier-consumer .icon-info {
	position: absolute;
	left: 67px;
	top: 20px
}

.okc101, .OKCCSC {
	text-indent: -9999em;
	background-position: 0 -589px
}

.NGSCSC, .ngs101 {
	text-indent: -9999em;
	background-position: 0 -702px
}

.PHONECSC {
	text-indent: -9999em;
	background-position: 0 -641px
}

.INST_ALIPAYPPC {
	text-indent: -9999em;
	background-position: 0 -537px
}

.cashier-cash .icon {
	background-image:
		url(https://i.alipayobjects.com/e/201309/1A9XfsnjnR.png);
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	background-color: #FFF
}

.cash-spdb, .psbcCASH {
	text-indent: -9999px;
	background-position: 3px -43px
}

.cash-union, .rccCASH {
	text-indent: -9999px;
	background-position: 3px -75px
}

.cash-skyinpour {
	text-indent: -9999px;
	background-position: 0 -108px
}

.cash-myj, .myjCASH {
	text-indent: -9999px;
	background-position: 5px -140px
}

.csyjtCASH {
	text-indent: -9999px;
	background-position: 3 -182px
}

.lklCASH {
	text-indent: -9999px;
	background-position: 3px -220px
}

.gztCASH {
	text-indent: -9999px;
	background-position: 5px -259px
}

.jfyCASH {
	text-indent: -9999px;
	background-position: 3px -293px
}

.fjgtCASH {
	text-indent: -9999px;
	background-position: 0 -329px
}

.kyCASH {
	text-indent: -9999px;
	background-position: 0 -357px
}

.ylyCASH {
	text-indent: -9999px;
	background-position: 2px -392px
}

.llCASH {
	text-indent: -9999px;
	background-position: 2px -432px
}

.cashier-depositcode .icon {
	background-image:
		url(https://i.alipayobjects.com/e/201310/1L9XB9fNV7.png);
	height: 30px
}

.depositCode {
	background-position: 0 -464px !important;
	text-indent: -99999px
}

.wanghuie {
	text-indent: -99999px;
	background-position: -1px -501px
}

.depositCode-lkl {
	text-indent: -99999px;
	background-position: 0 -221px
}