/*�Զ����ҳ�ײ�CLASS*/
.bottom_table {
	padding: 4px 6px 4px 0px;
	margin: 3px auto 3px auto;
	color: #313031;
	TEXT-ALIGN: center;
}

.bottom_td_pagenow {
	border: 1px solid #b7d8ee;
	margin: 0 3px;
	PADDING: 5px 6px 4px 5px;
	color: #444444;
	font-weight: bold;
	BACKGROUND-COLOR: #d2eaf6;
}

.bottom_td_disable {
	display: none;
}

.bottom_td_info {
	margin: 0 3px;
	PADDING: 5px 6px 4px 5px;
	color: #404040;
}

.bottom_td_enable {
	border: 1px solid #b7d8ee;
	margin: 0 3px;
	PADDING: 5px 6px 4px 5px;
	COLOR: #0030ce;
	TEXT-DECORATION: none;
}

.bottom_td_hover {
	border: 1px solid #b7d8ee;
	margin: 0 3px;
	PADDING: 5px 6px 4px 5px;
	color: #0066a7;
	BACKGROUND-COLOR: #d2eaf6;
}