#maintabs div {
	overflow: hidden;
}

.content_right_top_hint_title {
	list-style: none;
	font-family: arial;
	work-break: break-all;
	word-wrap: break-word;
	font-size: 22px;
	font-weight: bold;
	color: #8ec0f4;
	height: 22px;
	overflow: hidden;
	padding: 0;
	padding-top: 3px;
	padding-bottom: 12px;
	text-align: center;
	border-bottom: 1px solid #e7edf4;
	margin: 0;
}

div.mytable-border {
	width: 90%;
	margin: 0 auto;
	border-top-color: #99bbe8;
	border-right-color: #99bbe8;
	border-bottom-color: #99bbe8;
	border-left-color: #99bbe8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #99bbe8;
}

div.mytable-border table.mytablerow, div.mytable-border table.mytable,
	div.mytable-border div.panel-header {
	border: 0;
}

.easyui-tab {
	overflow: hidden;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
}

caption, th {
	text-align: left;
	font-weight: normal;
	padding: 0 0;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

.checkbox {
	padding: 0px 0px;
	margin: 0px 0px;
}

table.mytable, table.mytablerow {
	color: #000000;
	width: 100%;
	margin: 0px auto;
	font-size: 12px;
	border-top-color: #99bbe8;
	border-right-color: #99bbe8;
	border-bottom-color: #99bbe8;
	border-left-color: #99bbe8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
}

table.mytable tr, table.mytablerow tr {
	height: 30px;
}

.mytable thead td:hover {
	background-color: #EBF3FD;
}

table.mytable thead tr th {
	background-attachment: scroll;
	background-color: rgb(250, 250, 250);
	background-image:
		url("../plug-in/easyui/themes/default/images/datagrid_header_bg.gif");
	background-origin: padding-box;
	background-position-x: left;
	background-position-y: bottom;
	background-size: auto;
	background-repeat: repeat-x;
	border-top-color: #fff;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: solid;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 4px 0px 4px;
	font-style: inherit;
}

.mytable thead tr th:hover {
	background-image: none;
	background-color: #EAF2FF;
}

table.mytable tbody tr th, table.mytablerow tr th {
	color: #000;
	background-attachment: scroll;
	background-color: rgb(250, 250, 250);
	background-image:
		url("../plug-in/easyui/themes/default/images/datagrid_header_bg.gif");
	background-origin: padding-box;
	background-position-x: left;
	background-position-y: bottom;
	background-size: auto;
	background-repeat: repeat-x;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dotted;
	border-bottom-style: dotted;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 4px 0px 4px;
	font-style: inherit;
}

table.mytable tbody tr td, table.mytablerow tr td {
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dotted;
	border-bottom-style: dotted;
	padding: 0px 4px 0px 4px;
	overflow: hidden;
}

table.mytable tbody tr td pre {
	line-height: 18px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	whitewhite-space: pre-wrap; /* css-3 */
	whitewhite-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	whitewhite-space: -pre-wrap; /* Opera 4-6 */
	whitewhite-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.oddtr {
	background-color: #EEEEFF;
}

.eventr {
	background-color: #FFFFFF;
}

.mytable tbody tr:nth-child(even) td {
	background-color: #EEEEFF;
}

.mytable tbody tr:nth-child(even) td input, .mytable tbody tr:nth-child(even) td select,
	.mytable tbody tr:nth-child(even) td textarea {
	background-color: #EEEEFF;
}

.mytable tbody tr:nth-child(odd) td {
	background-color: #FFFFFF;
}

.mytable tbody tr:nth-child(odd) td input, .mytable tbody tr:nth-child(odd) td select,
	.mytable tbody tr:nth-child(odd) td textarea {
	background-color: #FFFFFF;
}

.mytable tbody tr:hover td {
	background-color: #D0E5F5;
}

.mytable tbody tr:hover td input, .mytable tbody tr:hover td textarea {
	background-color: #D0E5F5;
}

table.mytable tbody tr td input[type='text'], table.mytable tbody tr td textarea,
	table.mytable tbody tr td select {
	font-size: 12px;
	pddding: 0;
	width: 100%;
	border: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	FONT-FAMILY: 微软雅黑, 宋体, 文泉驿微米黑, 幼圆, 黑体, Verdana, Arial, Helvetica,
		sans-serif;
}

table.mytablerow tr td input[type='text'], table.mytablerow tr td textarea,
	table.mytablerow tr td select {
	border: 1px solid #99bbe8;
	width: 80%;
}

table.mytablerow tr td input[type='text']:hover, table.mytablerow tr td textarea:hover
	{
	border: 1px solid #5555ff;
}

a:link {
	color: #1874CD;
	text-decoration: underline;
	cursor: pointer;
}

a:visited { /* color: #1874CD; */
	/* text-decoration: underline; */
	cursor: pointer;
}

a:hover { /* color: #6a4600; */
	/* text-decoration: underline; */
	cursor: pointer;
}

a:active {
	color: #6A4600;
	text-decoration: underline;
	cursor: pointer;
}

.LableStyle {
	text-justify: inter-ideograph;
	font-size: 10pt;
	line-height: 30px;
}

.right_top_div {
	color: #7A7A7A;
	font-size: 14px;
	background-image: url('../img/ylz-32.png');
	background-repeat: no-repeat;
	margin: 4px auto;
	margin-bottom: 15px;
	width: 90%;
	width: 93%;
	height: 35px;
	border-bottom: 2px solid blue;
	line-height: 46px;
	padding: 1px 0px 1px 40px;
	width: 93%;
}

.notification {
	position: relative;
	margin-left: 5px;
	padding: 0;
	border: 1px solid;
	background-position: 10px !important;
	background-repeat: no-repeat !important;
	font-size: 13px;
	display: inline-block;
}

.attention {
	background: url('../img/icons/exclamation.png');
	border: 0;
	color: #F90;
}

.information {
	background: url('../img/icons/information.png');
	border: 0;
	color: #06C;
}

.success {
	background: url('../img/icons/tick_circle.png');
	/* border-color: #9adf8f;*/
	border: 0;
	color: #090;
}

.error {
	background: url('../img/icons/cross_circle.png');
	border: 0;
	color: #F30;
}

.notification span {
	font-style: normal;
	padding: 10px 5px 10px 30px;
	line-height: 1.5em;
	height: 30px;
}

p#vtip {
	font-family: "微软雅黑", "幼圆", "楷体", "黑体", "宋体", "文泉驿微米黑", "文泉驿正黑体";
	position: absolute;
	padding: 10px 5px 10px 30px;
	color: #06C;
	border: 1px solid #a6c9e2;
	background: url('img/icons/information.png');
	background-position: 10px !important;
	background-repeat: no-repeat !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 9999;
}

p#vtip #vtipArrow {
	position: absolute;
	top: -10px;
	left: 5px
}

.depweekout {
	margin: 0px 80px;
}

.depweektop {
	margin: 5px auto 15px auto;
	width: 500px
}

.depweektoptie {
	direction: ltr;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	white-space: normal;
	word-wrap: break-word;
	font-weight: bold;
	color: #007AC8
}

.depweektoptim {
	font-size: 12px;
	color: #8A98A2;
	padding-left: 10px
}

.depweekpeo {
	color: #35383D;;
	font-size: 16px;
	font-weight: bold;
	border-bottom: solid #E4E4E4;
	margin: 19px 0px
}

.depweekcon {
	font-size: 13px;
	color: #444444;
	text-align: start;
	vertical-align: baseline;
	margin: 19px 30px
}

.depweekconerr {
	color: #444444;
	text-align: start;
	vertical-align: baseline;
	margin: 19px 30px;
	font-size: 18;
	font-weight: bold;
	color: red;
	text-align: center
}

.depweekcon {
	font-size: 13px;
	color: #444444;
	text-align: start;
	vertical-align: baseline;
	margin: 19px 30px
}

.depweekconerr {
	color: #444444;
	text-align: start;
	vertical-align: baseline;
	margin: 19px 30px;
	font-size: 18;
	font-weight: bold;
	color: red;
	text-align: center
}

.depweektim {
	width: 90%;
	color: #8E8F91;
	margin: 17px 0px;
	text-align: right;
	border-bottom: 1px dotted #CCCCCC;
	margin: 17px 0px;
	text-align: right;
	border-bottom: 1px dotted #CCCCCC;
	margin: 17px auto;
	text-align: right;
	border-bottom: 1px dotted #CCCCCC;
}

.weekbacktop {
	display: none;
	height: 50px;
	position: fixed !important;
	position: absolute;
	bottom: 5px;
	right: 62px;
	z-index: 8000;
	width: 50px;
}

.weekbacktop .back-top {
	background: url("../img/icons/back-top.png") no-repeat scroll 0 0
		transparent;
	display: block;
	float: right;
	height: 50px;
	margin-left: 10px;
	outline: 0 none;
	text-indent: -9999em;
	width: 50px;
}

.weekbacktop .back-top:hover {
	background: url("../img/icons/back-top.png") no-repeat scroll -50px 0
		transparent;
}

.ylzback {
	height: 50px;
	position: fixed !important;
	position: absolute;
	bottom: 5px;
	right: 10px;
	z-index: 8000;
	width: 50px;
}

.ylzback .backurl {
	background: url("../img/icons/back.png") no-repeat scroll 0 0
		transparent;
	display: block;
	float: right;
	height: 50px;
	margin-left: 10px;
	outline: 0 none;
	text-indent: -9999em;
	width: 50px;
}

.ylzback .backurl:hover {
	background: url("../img/icons/back.png") no-repeat scroll -50px 0
		transparent;
}

.ggcon {
	color: #FF0000;
	width: 100%;
	margin-top: 1px;
	font-size: 14px;
}

.ext-el-mask-msg {
	background: repeat-x 0 -16px;
	background-color: #c3daf9;
	background-image: url(../images/default/box/tb-blue.gif);
	border-bottom-color: #6593cf;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-left-color: #6593cf;
	border-right-color: #6593cf;
	border-top-color: #6593cf;
	font: normal 11px tahoma, arial, helvetica, sans-serif;
	left: 124px;
	margin: 0px;
	padding: 2px 2px 2px 2px;
	z-index: 20001;
	position: absolute;
	top: 30;
}

.x-mask-loading div {
	padding: 5px 10px 5px 25px;
	background: no-repeat 5px 5px;
	line-height: 16px;
	background-color: #fbfbfb;
	background-image: url(../img/loading/loading.gif);
}

a.addfile {
	background: url(../img/icons/compose.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 8px;
	line-height: 15px;
	width: auto;
}

table.seachparam {
	width: 90%;
	margin: 5px atuo;
	vertical-align: middle;
	margin: 5px auto;
	border-bottom: 2px solid #C1CDCD;
	margin-bottom: 20px;
	padding-bottom: 10px
}

table.seachparam td {
	text-align: left;
	padding: 0;
}

table.seachparam input[type="text"] {
	width: 100px;
}

table.seachparam a {
	margin: 0px;
}

#operation {
	margin: 10px auto;
	width: 90%;
	height: 20px;
}

.passVerify {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	position: absolute;
	background: url(../img/pass.png) no-repeat 0 0;
	opacity: 0.8;
	filter: Alpha(opacity :                             80);
	z-index: 99;
}

span.shztai_0 {
	color: green;
	font-weight: 900;
	text-align: center;
}

span.shztai_1 {
	color: blue;
	font-weight: 900;
	text-align: center;
}

span.shztai_2 {
	color: red;
	font-weight: 900;
	text-align: center;
}

span.grade_A {
	color: green;
	font-weight: 900;
	text-align: center;
}

span.grade_B {
	color: blue;
	font-weight: 900;
}

span.grade_C {
	color: yellow;
	font-weight: 900;
}

span.grade_D {
	color: red;
	font-weight: 900;
}

div#tips {
	margin: 5px auto;
	width: 90%;
}