<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.ItenderPrivilegeMapper">
    <resultMap id="itenderPrivilege" type="com.itender.ms.domain.ItenderPrivilege">
    	<id column="id" javaType="String" property="id"></id>
        <result column="privilege_name" javaType="STRING" property="privilegeName"></result>
        <result column="privilege_uri" javaType="STRING" property="privilegeUri"></result>
        <result column="privilege_method" javaType="STRING" property="privilegeMethod"></result>
        <result column="privilege_alias" javaType="STRING" property="alias"></result>
        <result column="privilege_icon" javaType="STRING" property="icon"></result>
        <result column="privilege_seq" javaType="INTEGER" property="seq"></result>
        <result column="privilege_level" javaType="INTEGER" property="level"></result>
        <result column="privilege_ref" javaType="STRING" property="ref"></result>
    </resultMap>

	 <select id="selectByUserId" parameterType="java.lang.String" resultMap="itenderPrivilege">
        SELECT
            a.id,a.privilege_name,a.privilege_uri,a.privilege_method,a.privilege_alias,a.privilege_icon,a.privilege_seq,a.privilege_level,a.privilege_ref
        FROM
            itender_privilege a
        JOIN
            itender_role_privilege b
        ON
            b.privilege_id=a.id
        RIGHT JOIN
            itender_user_role c
        ON
            c.role_id=b.role_id
        WHERE
            c.user_id= #{userId,jdbcType=VARCHAR}
        AND
	        a.id IS NOT NULL
        GROUP BY
            a.id,a.privilege_name,a.privilege_uri,a.privilege_method,a.privilege_alias,a.privilege_icon,a.privilege_seq,a.privilege_level,a.privilege_ref
    </select>
    
    <update id="updatePrivilege" parameterType="com.itender.ms.domain.ItenderPrivilege">
    	UPDATE itender_privilege
    	<trim prefix="SET" suffixOverrides=",">
		  <if test="privilegeName != null">privilege_name=#{privilegeName},</if>
		  <if test="privilegeUri != null">privilege_uri=#{privilegeUri},</if>
          <if test="privilegeMethod != null">privilege_method=#{privilegeMethod},</if>
          <if test="alias != null">privilege_alias=#{alias},</if>
          <if test="icon != null">privilege_icon=#{icon},</if>
          <if test="seq != null">privilege_seq=#{seq},</if>
          <if test="level != null">privilege_level=#{level},</if>
          <if test="ref != null">privilege_ref=#{ref},</if>
		</trim>
        WHERE ID = #{id}
    </update>

    <select id="selectByIds" parameterType="java.lang.String" resultMap="itenderPrivilege">
        SELECT
          a.*
        FROM
          itender_privilege a
        WHERE
          a.id
        IN
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    
    <select id="isExist" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
          itender_privilege p
        WHERE
          p.privilege_uri=#{privilegeUri}
        AND
          p.privilege_method=#{privilegeMethod}
    </select>

    <insert id="insert" parameterType="com.itender.ms.domain.ItenderPrivilege" >
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
             SELECT uuid()
        </selectKey>
        INSERT INTO itender_privilege (id, privilege_name, privilege_uri, privilege_method, privilege_alias, privilege_icon, privilege_seq, privilege_level, privilege_ref) VALUES (#{id},#{privilegeName},#{privilegeUri},#{privilegeMethod},#{alias},#{icon},#{seq},#{level},#{ref})
    </insert>
</mapper>