<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.ItenderRoleMapper">
    <resultMap id="itenderRole" type="com.itender.ms.domain.ItenderRole">
    	<id column="id" javaType="String" property="id"></id>
        <result column="ROLE_NAME" javaType="STRING" property="roleName"></result>
        <collection property="privileges" ofType="com.itender.ms.domain.ItenderPrivilege" javaType="java.util.List">
        	<id column="privilege_id" property="id"/>
			<result column="PRIVILEGE_NAME" javaType="STRING" property="privilegeName"></result>
			<result column="PRIVILEGE_URI" javaType="STRING" property="privilegeUri"></result>
			<result column="privilege_method" javaType="STRING" property="privilegeMethod"></result>
			<result column="privilege_alias" javaType="STRING" property="alias"></result>
			<result column="privilege_icon" javaType="STRING" property="icon"></result>
			<result column="privilege_seq" javaType="INTEGER" property="seq"></result>
			<result column="privilege_level" javaType="INTEGER" property="level"></result>
			<result column="privilege_ref" javaType="STRING" property="ref"></result>
        </collection>
    </resultMap>

	 <select id="selectByRoleId" parameterType="java.lang.String" resultMap="itenderRole">
		SELECT 
			a.*,c.ID privilege_id,c.privilege_name,c.privilege_uri,c.privilege_method,c.privilege_alias,c.privilege_icon,c.privilege_seq,c.privilege_level,c.privilege_ref
		FROM 
			itender_role a
		LEFT JOIN
			itender_role_privilege b
		ON
			b.ROLE_ID=a.id
		LEFT JOIN
			itender_privilege c
		ON	
			c.ID=b.PRIVILEGE_ID
		WHERE
			a.id=#{roleId,jdbcType=VARCHAR} 
    </select>
    <select id="selectAllRole" parameterType="java.lang.String" resultMap="itenderRole">
		SELECT 
			a.*,c.ID privilege_id,c.privilege_name,c.privilege_uri,c.privilege_method,c.privilege_alias,c.privilege_icon,c.privilege_seq,c.privilege_level,c.privilege_ref
		FROM 
			itender_role a
		LEFT JOIN
			itender_role_privilege b
		ON
			b.ROLE_ID=a.id
		LEFT JOIN
			itender_privilege c
		ON	
			c.ID=b.PRIVILEGE_ID
    </select>

	<select id="selectByIds" parameterType="java.lang.String" resultMap="itenderRole">
		SELECT
			a.*,c.ID privilege_id,c.privilege_name,c.privilege_uri,c.privilege_method,c.privilege_alias,c.privilege_icon,c.privilege_seq,c.privilege_level,c.privilege_ref
		FROM
			itender_role a
		LEFT JOIN
			itender_role_privilege b
		ON
			b.ROLE_ID=a.id
		LEFT JOIN
			itender_privilege c
		ON
			c.ID=b.PRIVILEGE_ID
		WHERE
			a.id
		IN
		<foreach collection="array" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</mapper>