<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.ItenderBookMapper">

    <resultMap id="itenderBook" type="com.itender.ms.domain.ItenderBook">
        <id column="id" javaType="String" property="id"></id>
        <result column="content" javaType="STRING" property="content"></result>
        <result column="industry" javaType="STRING" property="industry"></result>
        <result column="room" javaType="STRING" property="room"></result>
        <result column="begin_time" javaType="DATE" property="beginTime"></result>
        <result column="end_time" javaType="DATE" property="endTime"></result>
        <result column="book_user" javaType="STRING" property="bookUser"></result>
        <result column="book_user_mobile" javaType="STRING" property="bookUserMobile"></result>
        <result column="book_organization" javaType="STRING" property="bookOrganization"></result>
        <result column="room_id" javaType="STRING" property="roomId"></result>
        <result column="status" javaType="STRING" property="status"></result>
        <result column="create_time" javaType="DATE" property="createTime"></result>
    </resultMap>

    <select id="findBookRoomByTime"
            resultMap="itenderBook">
        select * from itender_book where
        NOT ((end_time <![CDATA[ < ]]> #{startTime})
                    OR (begin_time <![CDATA[ > ]]> #{endTime})
        ) AND status != 'cancel' ORDER BY create_time desc
    </select>


    <select id="findByIndustry"
            resultMap="itenderBook">
        select * from itender_book where
         industry =  #{industry} AND status IN ('ordered','occupy')
    </select>


    <select id="exportBookRoomByTime"
            resultMap="itenderBook">
        select * from itender_book where
        NOT ((end_time <![CDATA[ < ]]> #{startTime})
        OR (begin_time <![CDATA[ > ]]> #{endTime})
        )
        <if test="roomId != null">
            AND room_id = #{roomId}
        </if>
        ORDER BY create_time desc

    </select>








</mapper>