<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.ItenderConfirmMapper">
    <resultMap id="itenderConfirm" type="com.itender.ms.domain.ItenderConfirm">
    	<id column="id" javaType="String" property="id"></id>
        <result column="status" javaType="STRING" property="status"></result>
        <result column="name" javaType="STRING" property="name"></result>
        <result column="review_id" javaType="STRING" property="reviewId"></result>
        <result column="type" javaType="STRING" property="type"></result>
        <result column="count" javaType="STRING" property="count"></result>
		<result column="create_time" javaType="DATE" property="createTime"></result>

    </resultMap>

	<select id="selectByFilter"
			resultMap="itenderConfirm">
		select * from itender_review review where
		<if test="keyword != null">
			 UPPER(CONCAT(review.name,review.type)) LIKE UPPER (CONCAT(CONCAT('%', #{keyword, jdbcType=VARCHAR}),'%')) ESCAPE '/'
		</if>
		ORDER BY create_time desc

	</select>


	 <select id="selectByReviewId" parameterType="java.lang.String" resultMap="itenderConfirm">
		SELECT 
			a.*
		FROM
		 itender_review a
		WHERE
			a.id= #{reviewId,jdbcType=VARCHAR}
    </select>

	<select id="selectByReviewName" parameterType="java.lang.String" resultMap="itenderConfirm">
		SELECT
		a.*
		FROM
		itender_review a
		WHERE
		a.id= #{reviewName,jdbcType=VARCHAR}
	</select>

    
    <update id="updateConfirm" parameterType="com.itender.ms.domain.ItenderConfirm">
    	UPDATE itender_review
    	<trim prefix="SET" suffixOverrides=",">
		  <if test="type != null">type=#{type},</if>
		  <if test="name != null">name=#{name},</if>
		  <if test="status != null">status=#{status},</if>
            <if test="count != null">count=#{count},</if>
		</trim>
        WHERE id = #{id}
    </update>
</mapper>