<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.ItenderTaskMapper">
    <resultMap id="itenderTask" type="com.itender.ms.domain.ItenderTask">
    	<id column="id" javaType="String" property="id"></id>
        <result column="status" javaType="STRING" property="status"></result>
        <result column="user_id" javaType="STRING" property="userId"></result>
		<result column="role" javaType="STRING" property="role"></result>
		<result column="review_id" javaType="STRING" property="reviewId"></result>
		<result column="is_current_task" javaType="Boolean" property="isCurrentTask"></result>
		<result column="create_time" javaType="DATE" property="createTime"></result>

    </resultMap>

	<select id="selectByFilter"
			resultMap="itenderTask">
		select * from itender_task review where
		<if test="keyword != null">
			 UPPER(CONCAT(review.name,review.type)) LIKE UPPER (CONCAT(CONCAT('%', #{keyword, jdbcType=VARCHAR}),'%')) ESCAPE '/'
		</if>
		ORDER BY create_time desc

	</select>


	 <select id="selectByTaskId" parameterType="java.lang.String" resultMap="itenderTask">
		SELECT 
			a.*
		FROM
		 itender_task a
		WHERE
			a.id= #{reviewId,jdbcType=VARCHAR}
    </select>

	<select id="selectByTaskName" parameterType="java.lang.String" resultMap="itenderTask">
		SELECT
		a.*
		FROM
		itender_task a
		WHERE
		a.id= #{taskName,jdbcType=VARCHAR}
	</select>

    
    <update id="updateTask" parameterType="com.itender.ms.domain.ItenderTask">
    	UPDATE itender_task
    	<trim prefix="SET" suffixOverrides=",">
		  <if test="status != null">status=#{status},</if>
		  <if test="role != null">role=#{role},</if>
		  <if test="reviewId != null">review_id=#{reviewId},</if>
			<if test="userId != null">user_id=#{userId},</if>
		  <if test="isCurrentTask != null">is_current_task=#{isCurrentTask},</if>
		</trim>
        WHERE id = #{id}
    </update>
</mapper>