<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.ItenderReviewMapper">
    <resultMap id="itenderReview" type="com.itender.ms.domain.ItenderReview">
    	<id column="id" javaType="String" property="id"></id>
        <result column="description" javaType="STRING" property="description"></result>
        <result column="name" javaType="STRING" property="name"></result>
        <result column="type" javaType="STRING" property="type"></result>
		<result column="tender_name" javaType="STRING" property="tenderName"></result>
		<result column="tender_no" javaType="STRING" property="tenderNo"></result>
		<result column="assignee_id" javaType="STRING" property="assigneeId"></result>
		<result column="organization_inner_tender_no" javaType="STRING" property="organizationInnerTenderNo"></result>
		<result column="reference_id" javaType="STRING" property="referenceId"></result><result column="tender_type" javaType="STRING" property="tenderType"></result>
		<result column="apply_person" javaType="STRING" property="applyPerson"></result>
		<result column="tender_method" javaType="STRING" property="tenderMethod"></result>
		<result column="tender_behavior" javaType="STRING" property="tenderBehavior"></result>
		<result column="tender_content" javaType="STRING" property="tenderContent"></result>
		<result column="tender_contact" javaType="STRING" property="tenderContact"></result>
		<result column="tender_mobile" javaType="STRING" property="tenderMobile"></result>
		<result column="agency_contact" javaType="STRING" property="agencyContact"></result>
		<result column="agency_mobile" javaType="STRING" property="agencyMobile"></result>
		<result column="tender_condition" javaType="STRING" property="tenderCondition"></result>
		<result column="create_time" javaType="DATE" property="createTime"></result>

    </resultMap>

	<select id="selectByFilter"
			resultMap="itenderReview">
		select * from itender_review review where
		<if test="keyword != null">
			 UPPER(CONCAT(review.name,review.type)) LIKE UPPER (CONCAT(CONCAT('%', #{keyword, jdbcType=VARCHAR}),'%')) ESCAPE '/'
		</if>
		ORDER BY create_time desc

	</select>


	 <select id="selectByReviewId" parameterType="java.lang.String" resultMap="itenderReview">
		SELECT 
			a.*
		FROM
		 itender_review a
		WHERE
			a.id= #{reviewId,jdbcType=VARCHAR}
    </select>

	<select id="selectByReviewName" parameterType="java.lang.String" resultMap="itenderReview">
		SELECT
		a.*
		FROM
		itender_review a
		WHERE
		a.id= #{reviewName,jdbcType=VARCHAR}
	</select>

    
    <update id="updateReview" parameterType="com.itender.ms.domain.ItenderReview">
    	UPDATE itender_review
    	<trim prefix="SET" suffixOverrides=",">
		  <if test="type != null">type=#{type},</if>
		  <if test="name != null">name=#{name},</if>
		  <if test="description != null">description=#{description},</if>
		</trim>
        WHERE id = #{id}
    </update>
</mapper>