<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.TbAttachmentRelationshipMapper">
  <resultMap id="BaseResultMap" type="com.itender.ms.domain.TbAttachmentRelationshipKey">
    <id column="TENDER_ITEM_ID" jdbcType="VARCHAR" property="tenderItemId" />
    <id column="ATTACHMENT_ID" jdbcType="VARCHAR" property="attachmentId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    TENDER_ITEM_ID, ATTACHMENT_ID
  </sql>
  <select id="selectByExample" parameterType="com.itender.ms.domain.TbAttachmentRelationshipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_ATTACHMENT_RELATIONSHIP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.itender.ms.domain.TbAttachmentRelationshipKey">
    delete from TB_ATTACHMENT_RELATIONSHIP
    where TENDER_ITEM_ID = #{tenderItemId,jdbcType=VARCHAR}
      and ATTACHMENT_ID = #{attachmentId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itender.ms.domain.TbAttachmentRelationshipExample">
    delete from TB_ATTACHMENT_RELATIONSHIP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itender.ms.domain.TbAttachmentRelationshipKey">
    insert into TB_ATTACHMENT_RELATIONSHIP (TENDER_ITEM_ID, ATTACHMENT_ID)
    values (#{tenderItemId,jdbcType=VARCHAR}, #{attachmentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.itender.ms.domain.TbAttachmentRelationshipKey">
    insert into TB_ATTACHMENT_RELATIONSHIP
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tenderItemId != null">
        TENDER_ITEM_ID,
      </if>
      <if test="attachmentId != null">
        ATTACHMENT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tenderItemId != null">
        #{tenderItemId,jdbcType=VARCHAR},
      </if>
      <if test="attachmentId != null">
        #{attachmentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itender.ms.domain.TbAttachmentRelationshipExample" resultType="java.lang.Long">
    select count(*) from TB_ATTACHMENT_RELATIONSHIP
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_ATTACHMENT_RELATIONSHIP
    <set>
      <if test="record.tenderItemId != null">
        TENDER_ITEM_ID = #{record.tenderItemId,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentId != null">
        ATTACHMENT_ID = #{record.attachmentId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_ATTACHMENT_RELATIONSHIP
    set TENDER_ITEM_ID = #{record.tenderItemId,jdbcType=VARCHAR},
      ATTACHMENT_ID = #{record.attachmentId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>