<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itender.ms.mapper.TbVirtualAccountMapper">
  <resultMap id="BaseResultMap" type="com.itender.ms.domain.TbVirtualAccount">
    <id column="ACCOUNT_NUMBER" jdbcType="VARCHAR" property="accountNumber" />
    <result column="ACCOUNT_NAME" jdbcType="VARCHAR" property="accountName" />
    <result column="ACCOUNT_STATUS" jdbcType="VARCHAR" property="accountStatus" />
    <result column="ACCOUNT_TYPE" jdbcType="VARCHAR" property="accountType" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ORGAN_A_ID" jdbcType="VARCHAR" property="organAId" />
    <result column="ORGAN_B_ID" jdbcType="VARCHAR" property="organBId" />
    <result column="PROJECT_INSTANCE_ID" jdbcType="VARCHAR" property="projectInstanceId" />
    <result column="PROJECT_ITEM_ID" jdbcType="VARCHAR" property="projectItemId" />
    <result column="ALIAS_ACCOUNT_NAME" jdbcType="VARCHAR" property="aliasAccountName" />
    <result column="CLOSE_TIME" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="MAIN_ACCOUNT_NO" jdbcType="VARCHAR" property="mainAccountNo" />
    <result column="ORGAN_A_NAME" jdbcType="VARCHAR" property="organAName" />
    <result column="ORGAN_B_NAME" jdbcType="VARCHAR" property="organBName" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="UNION_BANK_NO" jdbcType="VARCHAR" property="unionBankNo" />
    <result column="IS_LOGOUT" jdbcType="DECIMAL" property="isLogout" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ACCOUNT_NUMBER, ACCOUNT_NAME, ACCOUNT_STATUS, ACCOUNT_TYPE, CREATE_TIME, ORGAN_A_ID, 
    ORGAN_B_ID, PROJECT_INSTANCE_ID, PROJECT_ITEM_ID, ALIAS_ACCOUNT_NAME, CLOSE_TIME, 
    MAIN_ACCOUNT_NO, ORGAN_A_NAME, ORGAN_B_NAME, BANK_NAME, UNION_BANK_NO, IS_LOGOUT
  </sql>
  <select id="selectByExample" parameterType="com.itender.ms.domain.TbVirtualAccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_VIRTUAL_ACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_VIRTUAL_ACCOUNT
    where ACCOUNT_NUMBER = #{accountNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_VIRTUAL_ACCOUNT
    where ACCOUNT_NUMBER = #{accountNumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.itender.ms.domain.TbVirtualAccountExample">
    delete from TB_VIRTUAL_ACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.itender.ms.domain.TbVirtualAccount">
    insert into TB_VIRTUAL_ACCOUNT (ACCOUNT_NUMBER, ACCOUNT_NAME, ACCOUNT_STATUS, 
      ACCOUNT_TYPE, CREATE_TIME, ORGAN_A_ID, 
      ORGAN_B_ID, PROJECT_INSTANCE_ID, PROJECT_ITEM_ID, 
      ALIAS_ACCOUNT_NAME, CLOSE_TIME, MAIN_ACCOUNT_NO, 
      ORGAN_A_NAME, ORGAN_B_NAME, BANK_NAME, 
      UNION_BANK_NO, IS_LOGOUT)
    values (#{accountNumber,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{accountStatus,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{organAId,jdbcType=VARCHAR}, 
      #{organBId,jdbcType=VARCHAR}, #{projectInstanceId,jdbcType=VARCHAR}, #{projectItemId,jdbcType=VARCHAR}, 
      #{aliasAccountName,jdbcType=VARCHAR}, #{closeTime,jdbcType=TIMESTAMP}, #{mainAccountNo,jdbcType=VARCHAR}, 
      #{organAName,jdbcType=VARCHAR}, #{organBName,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, 
      #{unionBankNo,jdbcType=VARCHAR}, #{isLogout,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.itender.ms.domain.TbVirtualAccount">
    insert into TB_VIRTUAL_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="accountNumber != null">
        ACCOUNT_NUMBER,
      </if>
      <if test="accountName != null">
        ACCOUNT_NAME,
      </if>
      <if test="accountStatus != null">
        ACCOUNT_STATUS,
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="organAId != null">
        ORGAN_A_ID,
      </if>
      <if test="organBId != null">
        ORGAN_B_ID,
      </if>
      <if test="projectInstanceId != null">
        PROJECT_INSTANCE_ID,
      </if>
      <if test="projectItemId != null">
        PROJECT_ITEM_ID,
      </if>
      <if test="aliasAccountName != null">
        ALIAS_ACCOUNT_NAME,
      </if>
      <if test="closeTime != null">
        CLOSE_TIME,
      </if>
      <if test="mainAccountNo != null">
        MAIN_ACCOUNT_NO,
      </if>
      <if test="organAName != null">
        ORGAN_A_NAME,
      </if>
      <if test="organBName != null">
        ORGAN_B_NAME,
      </if>
      <if test="bankName != null">
        BANK_NAME,
      </if>
      <if test="unionBankNo != null">
        UNION_BANK_NO,
      </if>
      <if test="isLogout != null">
        IS_LOGOUT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="accountNumber != null">
        #{accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null">
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organAId != null">
        #{organAId,jdbcType=VARCHAR},
      </if>
      <if test="organBId != null">
        #{organBId,jdbcType=VARCHAR},
      </if>
      <if test="projectInstanceId != null">
        #{projectInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="projectItemId != null">
        #{projectItemId,jdbcType=VARCHAR},
      </if>
      <if test="aliasAccountName != null">
        #{aliasAccountName,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mainAccountNo != null">
        #{mainAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="organAName != null">
        #{organAName,jdbcType=VARCHAR},
      </if>
      <if test="organBName != null">
        #{organBName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="unionBankNo != null">
        #{unionBankNo,jdbcType=VARCHAR},
      </if>
      <if test="isLogout != null">
        #{isLogout,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.itender.ms.domain.TbVirtualAccountExample" resultType="java.lang.Long">
    select count(*) from TB_VIRTUAL_ACCOUNT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_VIRTUAL_ACCOUNT
    <set>
      <if test="record.accountNumber != null">
        ACCOUNT_NUMBER = #{record.accountNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.accountName != null">
        ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.accountStatus != null">
        ACCOUNT_STATUS = #{record.accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.accountType != null">
        ACCOUNT_TYPE = #{record.accountType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.organAId != null">
        ORGAN_A_ID = #{record.organAId,jdbcType=VARCHAR},
      </if>
      <if test="record.organBId != null">
        ORGAN_B_ID = #{record.organBId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectInstanceId != null">
        PROJECT_INSTANCE_ID = #{record.projectInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectItemId != null">
        PROJECT_ITEM_ID = #{record.projectItemId,jdbcType=VARCHAR},
      </if>
      <if test="record.aliasAccountName != null">
        ALIAS_ACCOUNT_NAME = #{record.aliasAccountName,jdbcType=VARCHAR},
      </if>
      <if test="record.closeTime != null">
        CLOSE_TIME = #{record.closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mainAccountNo != null">
        MAIN_ACCOUNT_NO = #{record.mainAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="record.organAName != null">
        ORGAN_A_NAME = #{record.organAName,jdbcType=VARCHAR},
      </if>
      <if test="record.organBName != null">
        ORGAN_B_NAME = #{record.organBName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.unionBankNo != null">
        UNION_BANK_NO = #{record.unionBankNo,jdbcType=VARCHAR},
      </if>
      <if test="record.isLogout != null">
        IS_LOGOUT = #{record.isLogout,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_VIRTUAL_ACCOUNT
    set ACCOUNT_NUMBER = #{record.accountNumber,jdbcType=VARCHAR},
      ACCOUNT_NAME = #{record.accountName,jdbcType=VARCHAR},
      ACCOUNT_STATUS = #{record.accountStatus,jdbcType=VARCHAR},
      ACCOUNT_TYPE = #{record.accountType,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      ORGAN_A_ID = #{record.organAId,jdbcType=VARCHAR},
      ORGAN_B_ID = #{record.organBId,jdbcType=VARCHAR},
      PROJECT_INSTANCE_ID = #{record.projectInstanceId,jdbcType=VARCHAR},
      PROJECT_ITEM_ID = #{record.projectItemId,jdbcType=VARCHAR},
      ALIAS_ACCOUNT_NAME = #{record.aliasAccountName,jdbcType=VARCHAR},
      CLOSE_TIME = #{record.closeTime,jdbcType=TIMESTAMP},
      MAIN_ACCOUNT_NO = #{record.mainAccountNo,jdbcType=VARCHAR},
      ORGAN_A_NAME = #{record.organAName,jdbcType=VARCHAR},
      ORGAN_B_NAME = #{record.organBName,jdbcType=VARCHAR},
      BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      UNION_BANK_NO = #{record.unionBankNo,jdbcType=VARCHAR},
      IS_LOGOUT = #{record.isLogout,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.itender.ms.domain.TbVirtualAccount">
    update TB_VIRTUAL_ACCOUNT
    <set>
      <if test="accountName != null">
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountStatus != null">
        ACCOUNT_STATUS = #{accountStatus,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null">
        ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="organAId != null">
        ORGAN_A_ID = #{organAId,jdbcType=VARCHAR},
      </if>
      <if test="organBId != null">
        ORGAN_B_ID = #{organBId,jdbcType=VARCHAR},
      </if>
      <if test="projectInstanceId != null">
        PROJECT_INSTANCE_ID = #{projectInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="projectItemId != null">
        PROJECT_ITEM_ID = #{projectItemId,jdbcType=VARCHAR},
      </if>
      <if test="aliasAccountName != null">
        ALIAS_ACCOUNT_NAME = #{aliasAccountName,jdbcType=VARCHAR},
      </if>
      <if test="closeTime != null">
        CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mainAccountNo != null">
        MAIN_ACCOUNT_NO = #{mainAccountNo,jdbcType=VARCHAR},
      </if>
      <if test="organAName != null">
        ORGAN_A_NAME = #{organAName,jdbcType=VARCHAR},
      </if>
      <if test="organBName != null">
        ORGAN_B_NAME = #{organBName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="unionBankNo != null">
        UNION_BANK_NO = #{unionBankNo,jdbcType=VARCHAR},
      </if>
      <if test="isLogout != null">
        IS_LOGOUT = #{isLogout,jdbcType=DECIMAL},
      </if>
    </set>
    where ACCOUNT_NUMBER = #{accountNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itender.ms.domain.TbVirtualAccount">
    update TB_VIRTUAL_ACCOUNT
    set ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      ACCOUNT_STATUS = #{accountStatus,jdbcType=VARCHAR},
      ACCOUNT_TYPE = #{accountType,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ORGAN_A_ID = #{organAId,jdbcType=VARCHAR},
      ORGAN_B_ID = #{organBId,jdbcType=VARCHAR},
      PROJECT_INSTANCE_ID = #{projectInstanceId,jdbcType=VARCHAR},
      PROJECT_ITEM_ID = #{projectItemId,jdbcType=VARCHAR},
      ALIAS_ACCOUNT_NAME = #{aliasAccountName,jdbcType=VARCHAR},
      CLOSE_TIME = #{closeTime,jdbcType=TIMESTAMP},
      MAIN_ACCOUNT_NO = #{mainAccountNo,jdbcType=VARCHAR},
      ORGAN_A_NAME = #{organAName,jdbcType=VARCHAR},
      ORGAN_B_NAME = #{organBName,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      UNION_BANK_NO = #{unionBankNo,jdbcType=VARCHAR},
      IS_LOGOUT = #{isLogout,jdbcType=DECIMAL}
    where ACCOUNT_NUMBER = #{accountNumber,jdbcType=VARCHAR}
  </update>

</mapper>